<!-- <div class="contact-container">
  <a
    [routerLink]="[index]"
    routerLinkActive="active"
    class="list-group-item clearfix contact-link"
    (click)="onSelectContact()"
  >
    <div class="pull-left">
      <p class="list-group-item-heading">{{contacto.contactId}}</p>
      <h4 class="list-group-item-heading">{{contacto.contactFirstName}}</h4>
      <p class="list-group-item-text">{{contacto.contactLastName}}</p>
      <p class="list-group-item-text">{{contacto.contactCompany}}</p>
    </div>
    <span class="pull-right">
      <img
        [src]="contacto.contactPhoto"
        alt="{{contacto.contactFirstName}}"
        class="img-responsive"
      >
    </span>
  </a>
  <button  class="delete-button" (click)="onDeleteContact(index)">Eliminar</button>
</div> -->

<!-- <div class="contact-container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre del Contacto</th>
        <th>Apellido del Contacto</th>
        <th>Empresa</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{contacto.contactId}}</td>
        <td>{{contacto.contactFirstName}}</td>
        <td>{{contacto.contactLastName}}</td>
        <td>{{contacto.contactCompany}}</td>
        <td>
          <button class="btn btn-primary" (click)="onSelectContact()">Detalles</button>
          <button class="btn btn-danger" (click)="onDeleteContact(index)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
