
<br>
<div class="phone-input-container" [formGroup]="phoneForm">
  <img src="https://cdn3.iconfinder.com/data/icons/social-messaging-productivity-4/128/home2-512.png" class="phone-icon">

  <div class="phone-input">
    <input type="text" formControlName="telefono" class="telefono" [ngClass]="{ 'error': phoneForm.get('telefono').invalid && phoneForm.get('telefono').touched }">
    <div *ngIf="phoneForm.get('telefono').touched && phoneForm.get('telefono').invalid" class="error-message">
      <span *ngIf="phoneForm.get('telefono').errors.required">El teléfono es requerido.</span>
      <span *ngIf="phoneForm.get('telefono').errors.pattern">Teléfono incorrecto (números hasta 7 caracteres).</span>
    </div>
  </div>

  <button type="button" class="btn btn-danger" (click)="addPhone()">Cancelar</button> |
  <button type="button" class="btn btn-success" (click)="addPhone()" [disabled]="phoneForm.invalid">Agregar Teléfono</button>

</div>
<br>
