
<div class="about">
  <div class="about-content">
    <h2 class="about-title">Acerca de</h2>
    <div class="image-container">
      <img src="https://s1.eestatic.com/2015/03/01/elandroidelibre/el_androide_libre_14759116_180654904_150x150.jpg" alt="Agenda de contactos">
    </div>
    <div class="about-description">
      <p>¡Bienvenido a nuestra aplicación de Agenda de Contactos!</p>
      <p>Esta aplicación te permite gestionar tus contactos de manera sencilla y eficiente. Puedes agregar, eliminar, actualizar y obtener información detallada de tus contactos.</p>
    </div>
    <div class="features">
      <h3 class="features-title">Características destacadas:</h3>
      <ul>
        <li>Registro de usuarios con información básica y foto de perfil.</li>
        <li>Listado completo de contactos con contador dinámico.</li>
        <li>Detalles de cada contacto con posibilidad de edición.</li>
        <li>Formulario de contacto con campos personalizables y validaciones.</li>
        <li>Etiquetas personalizables para clasificar tus contactos.</li>
        <li>Registro de múltiples teléfonos y correos para cada contacto.</li>
        <li>Interfaz intuitiva y fácil de usar.</li>
      </ul>
    </div>
    <p class="thanks">Esperamos que disfrutes utilizando nuestra aplicación. ¡Gracias por tu preferencia!</p>
  </div>
</div>
